01d RCDATA "pic\\01d.png"
01n RCDATA "pic\\01n.png"
02d RCDATA "pic\\02d.png"
02n RCDATA "pic\\02n.png"
03d RCDATA "pic\\03d.png"
03n RCDATA "pic\\03n.png"
04d RCDATA "pic\\04d.png"
04n RCDATA "pic\\04n.png"
09d RCDATA "pic\\09d.png"
09n RCDATA "pic\\09n.png"
10d RCDATA "pic\\10d.png"
10n RCDATA "pic\\10n.png"
11d RCDATA "pic\\11d.png"
11n RCDATA "pic\\11n.png"
13d RCDATA "pic\\13d.png"
13n RCDATA "pic\\13n.png"
50d RCDATA "pic\\50d.png"
50n RCDATA "pic\\50n.png"
